.projects {
  min-height: 75vh;
  background-color: #1a1a1a;
  color: white;
  padding: 40px 40px;
}

.projects h1 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 3rem;
  color: red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  text-decoration: none;
  color: white;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card:hover .image {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: auto;
  border-radius: 12px;

  
}

.projects h2 {
  margin-top: 15px;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-align: center;
}